<footer class="footer bg-navy white">
  <div class="container px2 py3">
    <div class="clearfix">
      <div class="sm-col mb1 sm-m0">
        <a href="https://18f.gsa.gov/"><img alt="18F" class="mr2 align-middle" width="40" src="{{ "/images/square-18f.svg" | prepend: site.baseurl }}"></a><a href="http://www.gsa.gov/portal/category/100000"><img alt="GSA" class="align-middle" width="40" src="{{ "/images/square-gsa.svg" | prepend: site.baseurl }}"></a>
      </div>
      <div class="sm-col-right sm-right-align">
        <a class="inline-block" href="{{ "/" | prepend: site.baseurl }}"><img alt="login.gov" class="py1 align-middle" width="172" src="{{ "/images/logo-white.svg" | prepend: site.baseurl }}"></a>
      </div>
    </div>
  </div>
</footer>
<script src="{{site.baseurl}}/js/build/bundle.js"></script>
