<head>
  <meta charset="utf-8">
  <meta content="login.gov" name="description">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="none" name="msapplication-config">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="telephone=no" name="format-detection">
  <title>{{ site.title | escape }} - {% if page.title %}{{ page.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html | strip_newlines }}{% endif %}">
  <link rel="stylesheet" media="all" href="{{ "/css/main.css" | prepend: site.baseurl }}" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <!--[if lt IE 9]>
    <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
    <script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
  <![endif]-->
</head>
