[class*="floating-container"] {
  input {
    color: transparent;
    font-size: $base-font-size;
    font-weight: normal;
    padding: $space-3 $space-2;
    transition: 0.4s ease-in-out;

    &:hover {
      border-color: #00BFE7;
    }

    &.active,
    &:focus {
      background-color: $white;
      border: 1px solid $blue;
      box-shadow: none;
      color: $gray;
      font-size: 20px;
      outline: none;

      & + label {
        background-color: $white;
        background-position: 4px center;
        background-size: 20px;
        font-size: $h6;
        left: 24px;
        outline: none;
        padding: 0 4px 0 30px;
        top: -10px;
      }
    }
  }

  label {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: $space-3;
    font-size: $base-font-size;
    left: $space-2;
    padding: 3px 2px 3px $space-4;
    position: absolute;
    pointer-events: none;
    transition: 0.4s ease-in-out;
    top: 18px;
  }
}

.floating-container--auto label { 
  background-image: url("../images/auto.svg");
}
.floating-container--credit label {
  background-image: url("../images/credit.svg");
}
.floating-container--heloc label {
  background-image: url("../images/heloc.svg");
}
.floating-container--mortgage label {
  background-image: url("../images/mortgage.svg");
}
